body {
  background-color: #000a0d;
  color: #fff;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  padding: 15px;
}

input,
textarea {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 40px;
  width: 450px;
  font-size: large;
}

textarea {
  height: 350px;
}

input[type="radio"] {
  vertical-align: middle;
  width: 50px;
  margin-left: -5px;
}

.mode-container {
  padding-bottom: 22px;
}
.mode {
  padding-top: 10px;
}

.fin-link {
  text-decoration: none;
  color: #ffffff;
}

.container {
  margin: 5px;
  background-color: #001721;
  border: 1px solid #07394d;
  position: relative;
  width: calc(95%);
  padding: 15px;
}

pre {
  overflow: auto;
  height: 400px;
}

body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: #00374f; /* color of the scroll thumb */
  /* roundness of the scroll thumb */
  border: 3px solid #07394d; /* creates padding around scroll thumb */
}
pre::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}
pre::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}
pre::-webkit-scrollbar-thumb {
  background-color: #00374f; /* color of the scroll thumb */
  /* roundness of the scroll thumb */
  border: 3px solid #07394d; /* creates padding around scroll thumb */
}

.heading {
  text-align: center;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.button {
  background-color: #119dda;
  border-color: #119dda;
  border: 1px solid #119dda;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  font-family: inherit;
  height: 32px;
  line-height: 32px;
  padding: 0 24px;
  text-transform: uppercase;
  white-space: nowrap;
}
